# Visual Studio cache and local config
.vs/
*.suo
*.user
*.userosscache
*.sln.docview

# VS window layout
DocumentLayout.json
DocumentLayout.backup.json
Browse.VC.db
Browse.VC.db-shm
Browse.VC.db-wal
Browse.VC.opendb

# Build output folders
x64/
x86/
Debug/
Release/
ipch/

# Compiled files
*.obj
*.pch
*.ipch
*.tlog
*.iobj
*.ipdb
*.ilk
*.pdb
*.exe
*.dll
*.lib
*.exp

# Precompiled headers
*.gch

# CMake (por si acaso)
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Other
*.d
*.slo
*.lo
*.o
*.so
*.dylib
*.mod
*.smod
*.lai
*.la
*.a
*.out
*.app
*.dwo